<ion-content scrollPadding="true">
  <ion-menu side="end" contentId="mainContent" swipeGesture="false">
    <ion-content class="ion-padding">
      <div class="menu d-flex justify-content-between vh-100 flex-column">
        <div>
          <ul>
            <li (click)="myProfileComponent()">
              <i class="bi bi-person-fill me-1"></i> Profile
            </li>
            <li (click)="onRoute('student/notification')">
              <i class="bi bi-bell-fill me-1"></i> Notifications
            </li>
            <li (click)="onRoute('student/setting')">
              <i class="bi bi-gear-wide-connected me-1"></i> Setting
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li (click)="onLogout('/login')">
              <i class="bi bi-power me-1" style="background-color: red"></i>
              Log Out
            </li>
          </ul>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="container bg-lightblue">
    <section
      style="overflow-x: hidden"
      *ngIf="studentData"
      class="main w-100 px-3 vh-100"
    >
      <div>
        <div class="top-bar mt-3 w-100 bg-white d-flex justify-content-between">
          <div class="profile ms-2 mt-2 d-flex">
            <img
              [src]="studentData.profileImage"
              class=""
              alt="Profile Picture"
            />
            <div class="mx-2 mt-1">
              <h6 class="text-color-primary mb-3">
                {{ studentData.firstName }} {{ studentData.lastName }}
              </h6>
              <p class="grey-text">{{ studentData.department }}</p>
            </div>
          </div>
          <button class="border-0 btn" id="mainContent" (click)="toggleMenu()">
            <i class="bi bi-list"></i>
          </button>
        </div>
        <app-faculty-cards></app-faculty-cards>
      </div>
    </section>
  </div>
</ion-content>
