<ion-content class="ion-padding" scrollPadding="true">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-color-primary mb-3">Student Registeration Form</h3>
      <div>
        <i
          class="bi bi-x-octagon-fill"
          (click)="onRoute('/login')"
          style="font-size: 1.6rem"
        ></i>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <label>First Name</label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          placeholder="Enter first name"
          [ngClass]="{
            'border-danger':
              form.controls['firstName'].invalid &&
              form.controls['firstName'].touched
          }"
          (input)="isFormValid = true"
        />
      </div>

      <div class="form-group mb-4">
        <label>Last Name</label>
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          placeholder="Enter last name"
          [ngClass]="{
            'border-danger':
              form.controls['lastName'].invalid &&
              form.controls['lastName'].touched
          }"
          (input)="isFormValid = true"
        />
      </div>

      <div class="form-group mb-4">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          placeholder="Enter email"
          [ngClass]="{
            'border-danger':
              form.controls['email'].invalid && form.controls['email'].touched
          }"
          (input)="isFormValid = true"
        />
      </div>

      <div class="form-group mb-4">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter password"
          [ngClass]="{
            'border-danger':
              form.controls['password'].invalid &&
              form.controls['password'].touched
          }"
          (input)="isFormValid = true"
        />
      </div>

      <div class="form-group mb-4">
        <label>Mobile</label>
        <input
          type="text"
          formControlName="mobileNumber"
          class="form-control"
          placeholder="Enter phone number"
          [ngClass]="{
            'border-danger':
              form.controls['mobileNumber'].invalid &&
              form.controls['mobileNumber'].touched
          }"
          (input)="isFormValid = true"
        />
      </div>

      <div class="form-group mb-4">
        <label>Department</label>
        <select
          formControlName="departmentId"
          class="form-select py-2"
          [ngClass]="{
            'border-danger':
              form.controls['departmentId'].invalid &&
              form.controls['departmentId'].touched
          }"
          (input)="isFormValid = true"
        >
          <option
            *ngFor="let department of departments"
            [value]="department.id"
          >
            {{ department.name }}
          </option>
        </select>
      </div>

      <div class="form-group mb-4">
        <label>Gender</label>
        <select
          formControlName="genderId"
          class="form-select py-2"
          [ngClass]="{
            'border-danger':
              form.controls['genderId'].invalid &&
              form.controls['genderId'].touched
          }"
          (input)="isFormValid = true"
        >
          <option *ngFor="let gender of genders" [value]="gender.id">
            {{ gender.name }}
          </option>
        </select>
      </div>

      <div class="form-group mb-4">
        <label>Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          placeholder="Enter description"
          rows="3"
          [ngClass]="{
            'border-danger':
              form.controls['description'].invalid &&
              form.controls['description'].touched
          }"
          (input)="isFormValid = true"
        ></textarea>
      </div>

      <button type="submit" class="btn w-100 mt-4 mb-5 btn-primary">
        Register
      </button>
    </form>
  </div>
</ion-content>
